* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(201, 212, 223);
    color: rgb(103, 114, 131);
    font-family: "Roboto", "Source Sans Pro", sans-serif;
}

html, body, #container {
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
    margin-block-start: auto;
}

#container > img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 3px solid rgb(100, 99, 148);
}

#container > img:hover {
    border: 5px solid rgb(103, 114, 131);
    transition: 0.2s;
}

#container h1 {
    font-size: 2.625rem;
    font-weight: 600;
    margin-top: 30px;
}

#container h2 {
    font-size: 1.375rem;
    font-weight: 400;
    margin-top: 5px;
    opacity: 0.6;
}

#container p {
    font-size: 1.25rem;
    max-width: 500px;
    text-align: center;
    opacity: 0.8;
    margin-top: 30px;
    margin-bottom: 30px;
}

#container .languages_used {
    display: flex;
    flex-direction: row;
}

#container .languages_used img {
    height: 100px;
    width: 100px;
    margin: 15px 10px;
}


#container .links {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

#container .links a {
    color: rgb(103, 114, 131);
    text-decoration: none;
    border-bottom: 2px solid rgb(103, 114, 131);
    padding-bottom: 3px;
    margin-left: 25px;
}

#container .links a:hover {
    color: rgb(100, 99, 148);
    border-color: rgb(100, 99, 148);
    transition: 0.1s;
}

#container .links a img {
    height: 60px;
}

#container .links a img:hover {
    height: 50px;
    transition: 0.5s;
}
